{% set size = size|default(128) %}
{% set avatar = app.user.avatar
    ? asset(app.user.avatar.name, 'avatar_image')|imagine_filter('avatar_image_'~size)
    : asset('images/avatars/default-avatar_'~size~'x'~size~'.webp')
%}

<a href="#" title="Profil: " class="">
    <img class="rounded-circle shadow-sm border border-1 border-light" src="{{ avatar }}" alt="" width="{{ size }}" height="{{ size }}">
</a>