<a href="{{ path('fos_user_security_login') }}" title="{{ 'label.login_or_sign' | trans }}" class="user btn {{ class | default('btn-primary') }}">
    <i class="fa fa-user"></i> {{ 'label.login' | trans }}
</a>