<div class="mb-4">
    <div class="form-group">
        <label for="op">{{ header }}</label>
        <textarea id="op" name="op" disabled="disabled" class="form-control"></textarea>
    </div>
    {{ include('partials/btn-login.html.twig', { 'class' : 'btn-happy mt-n3' }) }}
    {{ include('partials/fb-login.html.twig') }}
</div>