<div class="card text-dark bg-happy">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
        <div class="post-form-layer text-light">
            <p class="text-dark bg-happy py-3 text-center font-weight-bolder shadow">
                Tu veux publier des alamouriskas?
                <br>
                <br>
                <a href="{{ path('fos_user_security_login') }}" title="Se connecter ou S'inscrire" class="user btn btn-primary">
                    <i class="fa fa-user"></i> Connecte-toi !
                </a>
            </p>
        </div>
    {% endif %}

    <div class="card-header font-weight-bold">
        {{ ('label.almrsk.insert_new_' ~ entity) | trans }}
    </div>

    <div class="card-body p-2">
        {{ include('partials/form.html.twig') }}
    </div>
</div>