{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'post.label.create'|trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1 class="text-center">{{ 'post.label.create'|trans }}</h1>
{% endblock %}

{% block card_body %}
    {{ form(form, {'attr': {
        'data-controller': 'post-create',
        'data-action': 'post-create#validate'
    }}) }}
{% endblock %}

{% block card_footer %}
{% endblock %}